.authContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Oswald';
  border: 1px solid #ddd;
  background-color: #f4f4f4;
}

.authForm {
  display: flex;
  flex-direction: column;
}

.authInput {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.authButton {
  padding: 10px;
  background-color: #102343;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}

.authButton:hover {
  background-color: #0ea;
}

.errorMessage {
  color: red;
  margin-bottom: 15px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  width: 400px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeModalBtn {
  color: #ce1212;
  border: none;
  font-size:30px;
  cursor: pointer;
}

.openChatBtn {
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  width: 50%;
  border-radius:10px;
  margin-bottom: 5px;
  cursor: pointer;
 }